nav {
  background-color: darkred;
}


form div {
  margin: 1em;
  display: inline-block;
  padding-left: 3px;
  padding-top: 10px;
}

nav .brand-logo {
  padding-left: 18px;
}

.btn, .btn-large, .btn-small a {
  text-decoration: none;
  color: white;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
  cursor: pointer;
  margin-left: 17px;

}


a {
  text-decoration: none;
  color: white
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 85px;
  margin-left: 13%;
  padding-top: 2px;
}

ul:not(.browser-default) {
  padding-left: 13.2%;
  list-style-type: none;
}

.homepage-container {
  height: 100%;
  width: 100%;
  margin-bottom: 60px
}

figure{
  width:100%; /*container-width*/
  overflow:hidden; /*hide bounds of image */
  margin:0;
  z-index: 1;
  position: absolute;

}

figure img{
  display:block;
  width: 100%;
  height: 100%;
  margin:-14% 0;
  z-index: 0;
}



.navbar-btns {
  display: absolute;
  z-index: 3
}


.homepage-text {
  position: relative;
  z-index: 5;
  margin-left: 36%;
  padding-top: 20%;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
}

.currently-trending-container {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
  align-items: center;
  margin-top: 16.5%;
  margin-left: 13%;
}

.headlines {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4;
  height: 100%


}

.headline-container {
  padding: 20px;
  margin-top: 4%;
  padding-top: 1%;
  padding-bottom: 0
}


.headline-text {
  max-width: 300px;

}

.publication-name {
  font-weight: bold;
}

.headline-btns {
  padding-top: 10px;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  margin: 11px;
  -webkit-appearance: button;
}

.trending-text {
  position: absolute;
  margin-left: 30%;
  font-weight: bold;
  font-size: 16px;
}


.sidenav.sidenav-fixed {
  padding: 0;
}



.sidenav {
  background-color:  grey
}


 .sidenav li>a {
    color: rgb(0, 0, 0);
}

.user-topics-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  height: 100%;
  margin-left: 13%
}


.articles-container {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  height: 100%;
  margin-left: 23%;
  padding-top: 3%


}

.articles {
  padding: 20px;
  margin-top: 4%;
  padding-top: 1%;
  padding-bottom: 0;
  width: 30%
}

.searched-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10%
}


.search-form{
  position:absolute;
  top: 17%;
  width:30%;
  height:100px;
  left:10%

}

.searched-topic {
  padding-top: 5%;
  margin-left: 11%;
  margin-bottom: 4%
}

.follow-topic-btn {
  position: absolute;
  margin-bottom: 10%
}

.search-text {
  width: 270px
}

.article-contents {
  width: 60%;
  margin-left: 20%;
  padding-top: 12%;
  padding-bottom: 5%;

}

.author-and-contents {
  position: absolute;
  width: 50%;
  margin-left: 32%;
  padding-top: 5%;
  font-weight: bold;
}
